doctype html
html(lang="en")
    head
        title="Doctor"
        include extendFile.pug
        script.
            $(document).ready( function ()
                {
                    $('#example').DataTable({responsive: true});                    
                }
            );
    body
        include header.pug        
        //- include navbar.html
        br
        div
            .container
                div.card
                    .card-header
                        h1(align="center")=title
                    div.card-body
                        table#example.table.table-striped.table-bordered(style='width:100%')
                            thead
                                tr
                                    if link!=1
                                        th Select
                                    if link!=0                            
                                        th Reject
                                    th Firstname
                                    th Lastname
                                    th Gender
                                    th State
                                    th Qualification
                                    th Speciaization
                                    th Registration No
                                    th email
                                    th Mobile
                            tbody
                                each val in data
                                    tr
                                        if link!=1                                  
                                            td
                                                a(href="/admin/select/"+val._id) Select 
                                        if link!=0
                                            td
                                                a.text-danger(href="/admin/reject/"+val._id) Reject 
                                        td=val.firstName
                                        td=val.lastName
                                        td=val.gender
                                        td=val.state
                                        td=val.qualification                           
                                        td=val.speQualification                           
                                        td=val.regNo                                      
                                        td=val.email 
                                        td=val.mobile                          

        br
        include ../footer.pug



