doctype html
html(lang="en")
    head
        include extendFile.pug
        script.
            $(document).ready( function ()
                {
                    $('#example').DataTable({responsive: true});                    
                }
            );
    body
        include header.pug
        br
        div
            .container
                div.card
                    .card-header
                        h1(align="center")=title
                        h4(align="center")="Total : "+count
                    div.card-body
                        table#example.table.table-striped.table-bordered(style='width:100%')
                            thead
                                tr
                                    if link!=1
                                        th Select
                                    if link!=0                            
                                        th Reject
                                    th Name of Organigation
                                    th Contact Person Name
                                    th Category
                                    th Service
                                    th Area Of Service
                                    th Mobile
                                    th State
                                    th City
                                    th Service Details
                            tbody
                                each val in data
                                    tr
                                        if link!=1                                  
                                            td
                                                a.btn.btn-primary(href="/admin/selectService/"+val._id) Select 
                                        if link!=0
                                            td
                                                a.btn.btn-danger(href="/admin/rejectService/"+val._id) Reject 
                                        td=val.nameOfOrg
                                        td=val.contactPersonName
                                        td=val.category                           
                                        td=val.service                           
                                        td=val.areaOfService                         
                                        td=val.mobile
                                        td=val.state
                                        td=val.city
                                        td=val.serviceDetails                                                     

        br
        include ../footer.pug