doctype html
html(lang="en")
    head
        title="Doctor"
        include extendFile.pug
        script.
            $(document).ready( function ()
                {
                    $('#example').DataTable({responsive: true});                    
                }
            );
            function showPatient(id,mobile,email)
            {
                //- alert(id+","+mobile+","+email);
                swal({
                    title: "Patient Details",
                    text: "Mobile :"+ mobile +"\n Email : "+ email +"",
                    buttons: true,
                    })
                    .then((willDelete) => {
                    if (willDelete) {                        
                        attendSuccess(id);
                    } else {
                        reject(id);
                        //- swal("You Cancle!", {icon: "error",});
                    }
                    });
            }
            function attendSuccess(id){
                $.ajax({
                    url: "/doctor/attend/"+id,                    
                    type: 'GET',
                    success: function (resp) {
                        swal({title:"Done",icon: "success"});
                        $("#"+id).remove();
                    },
                    error: function(e) {
                        alert('Error: '+e);
                    }  
                });
            }
            function reject(id){
                $.ajax({
                    url: "/doctor/reject/"+id,                    
                    type: 'GET',
                    success: function (resp) {
                        swal({title:"You Reject Patient",icon: "error"});
                        $("#"+id).remove();
                    },
                    error: function(e) {
                        alert('Error: '+e);
                    }  
                });
            }
    body
        include header.pug 
        br
        div
            .container
                div.card
                    .card-header
                        h1(align="center")="Patient List"
                    div.card-body
                        table#example.table.table-striped.table-bordered(style='width:100%')
                                thead
                                    tr
                                        th Attend
                                        th Firstname
                                        th Gender                                        
                                        th Category                                        
                                        th Disease
                                        th Disease Details
                                        th From Last (Days)                                        
                                        th State
                                        th Age
                                tbody
                                    each val in data
                                        tr(id=val._id)                                            
                                            td
                                                //- a(href="/doctor/attend/"+val._id) Attend
                                                button.btn.btn-primary(type='button',onclick='showPatient(\''+val._id+'\',\''+val.mobile+'\',\''+val.email+'\')') Attend
                                            td=val.firstName
                                            td=val.gender
                                            td=val.category
                                            td=val.disease                           
                                            td=val.diseaseDetails                    
                                            td=val.fromDays
                                            td=val.state
                                            td=val.age                                               
        br
        include ../footer.pug
                            


